services:
  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: xtremedge_db
      POSTGRES_USER: xtremedge_user
      POSTGRES_PASSWORD: xtremedge_pass

volumes:
  postgres_data:
